:host {
  display: block;
}

.ticker-scroll {
  animation: ticker 30s linear infinite;
}
@keyframes ticker {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(120%);
  }
}
