<form class="flex flex-col items-center w-120 h-84 rounded-2xl bg-zinc-800 border border-white/5">
  <div class="flex items-center gap-2 py-4">
    <span class="text-3xl font-bold tracking-wide text-white">QUANTUM</span>
  </div>
  <app-input
    label="Email"
    placeholder="your@email.com"
    type="email"
    [formField]="loginForm.email"
  />
  <app-input
    label="Password"
    placeholder="*********"
    type="password"
    [formField]="loginForm.password"
  />
  <div class="w-80 my-4">
    <app-button
      text="Login"
      [variant]="loginForm().invalid() ? 'disabled' : 'primary'"
      (buttonClick)="onSubmit(); $event.preventDefault()"
      [disabled]="loginForm().invalid()"
    />
  </div>
</form>
