<app-nav-ticker-scroll
  [tickerElements]="[
    { shortName: 'bitcoin', price: 89401, percent: -0.49108 },
    { shortName: 'ethereum', price: 2941.48, percent: -2.17901 },
    { shortName: 'tether', price: 0.998746, percent: -0.02964 },
    { shortName: 'binancecoin', price: 889.87, percent: 0.20842 },
    { shortName: 'ripple', price: 1.91, percent: -1.96294 },
    { shortName: 'usd-coin', price: 0.999617, percent: -1.10792 },
    { shortName: 'solana', price: 127.79, percent: -1.71445 },
    { shortName: 'tron', price: 0.309087, percent: 3.2992 },
    { shortName: 'staked-ether', price: 2940.42, percent: -0.88857 },
    { shortName: 'dogecoin', price: 0.124926, percent: -1.07538 },
  ]"
/>
<div class="flex flex-col w-full h-98% items-center">
  <div class="mt-10">
    @if (isLoginForm()) {
      <app-login-form (emitLoginFormValues)="login($event)" />
    } @else {
      <app-register-form (emitRegisterFormValues)="register($event)" />
    }
  </div>
  <div class="min-h-5 ml-2 max-w-120 text-center">
    <p class="text-rose-400 text-sm">{{ error() }}</p>
  </div>
  <button (click)="toggleForm()" class="text-white cursor-pointer mt-2 font-semibold">
    @if (isLoginForm()) {
      Not registered yet? <span class="text-emerald-400">Click here</span>
    } @else {
      Want to log in? <span class="text-emerald-400">Click here</span>
    }
  </button>
</div>
