<app-nav-ticker-scroll [tickerElements]="tickerElements" />
<div class="flex flex-col w-full h-98% items-center">
  <div class="mt-10">
    @if (isLoginForm()) {
      <app-login-form (emitLoginFormValues)="login($event)" />
    } @else {
      <app-register-form (emitRegisterFormValues)="register($event)" />
    }
  </div>
  <div class="min-h-5 ml-2 max-w-120 text-center">
    <p class="text-rose-400 text-sm">{{ error() }}</p>
  </div>
  <button (click)="toggleForm()" class="text-white cursor-pointer mt-2 font-semibold">
    @if (isLoginForm()) {
      Not registered yet? <span class="text-emerald-400">Click here</span>
    } @else {
      Want to log in? <span class="text-emerald-400">Click here</span>
    }
  </button>
  <button
    class="flex items-center text-white font-bold mt-4 cursor-pointer hover:underline"
    [routerLink]="['/']"
  >
    <p class="text-lg">Back</p>
    <i-lucide [img]="ArrowLeft" class="w-5 h-5" />
  </button>
</div>
