<div class="mx-40 my-4 p-2">
  @if (errorMarkets()) {
    <p class="text-white text-xl">Unfortunately something went wrong, please try again!</p>
  } @else if (watchlist() && watchlist().length > 0) {
    <app-watch-list-info
      [watchListCount]="watchlist().length"
      [lastAddedCoin]="watchlist()[watchlist().length - 1].name"
    />
    @for (element of watchlist(); track element.name) {
      <app-watch-list-card />
    }
  } @else if (loadingWatchlist()) {
    <p>Loading...</p>
  }
</div>
