<div class="mx-40 my-4 p-2">
  @if (errorMarkets()) {
    <p class="text-white text-xl">Unfortunately something went wrong, please try again!</p>
  } @else if (watchlist() && watchlist().length > 0) {
    <app-watch-list-info
      [watchListCount]="watchlist().length"
      [lastAddedCoin]="watchlist()[watchlist().length - 1].name"
    />
    @for (element of watchlist(); track element.name) {
      <app-watch-list-card
        [symbol]="element.symbol"
        [img]="element.image"
        [name]="element.name"
        [ath]="element.ath"
        [atl]="element.atl"
        [id]="element.id"
        [currentPrice]="element.current_price"
        (watchlistId)="removeFromWatchlist($event)"
      />
    }
  } @else if (loadingWatchlist()) {
    <div
      class="text-white text-2xl font-bold text-center bg-zinc-800 border border-white/5 rounded-2xl p-4"
    >
      <p>Loading...</p>
    </div>
  } @else if (watchlist().length === 0 && !loadingWatchlist()) {
    <div
      class="text-white text-2xl font-bold text-center bg-zinc-800 border border-white/5 rounded-2xl p-4"
    >
      <p>Nothing to see here!</p>
      <p>Add coins to watchlist 🚀</p>
      <div class="mt-4">
        <a class="underline" [routerLink]="['/dashboard']">Go back to dashboard</a>
      </div>
    </div>
  }
</div>
