<div class="mx-40 my-4 p-2">
  @if (errorMarkets()) {
    <p class="text-white text-xl">Unfortunately something went wrong, please try again!</p>
  } @else if (loadingMarkets()) {
    <app-spinner />
  } @else if (walletElements() && walletData() && walletElements().length > 0) {
    <app-portfolio-info
      [itemsCount]="walletElements().length"
      [totalNetWorth]="totalNetWorth"
      [change24h]="changeInWallet"
    />
    @for (element of walletElements(); track element.name) {
      @for (coin of walletData()?.items; track coin.coinId) {
        @if (element.symbol === coin.coinId) {
          <app-portfolio-card
            [walletAmmount]="coin.walletBalance"
            [totalBalance]="coin.walletBalance * element.current_price"
            [currentPrice]="element.current_price"
            [id]="coin.$id"
            [changePercentage24h]="element.price_change_percentage_24h"
            [img]="element.image"
            [name]="element.name"
            [symbol]="element.symbol"
            (portfolioId)="removeFromPortfolio($event)"
          />
        }
      }
    }
  } @else if (walletElements().length === 0 && walletData()?.items?.length === 0) {
    <div
      class="text-white font-bold text-center flex flex-col items-center justify-center bg-zinc-800 border border-white/5 rounded-2xl p-4"
    >
      <p class="text-3xl tracking-wide">Nothing to see here!</p>
      <div class="w-60 text-base uppercase my-2">
        <app-button
          class="underline"
          [routerLink]="['/portfolio/wallet/create']"
          text="Add coins to portfolio 💼"
        />
      </div>
      <p class="my-2">or</p>
      <div>
        <a class="underline" [routerLink]="['/dashboard']">Go back to dashboard</a>
      </div>
    </div>
  }
</div>
