<form>
  <div class="mt-4">
    <app-input
      label="Old password"
      placeholder="Old password"
      type="password"
      [formField]="changePasswordForm.oldPassword"
    />
    <app-input
      label="New password"
      placeholder="New password"
      type="password"
      [formField]="changePasswordForm.newPassword"
    />
    <app-input
      label="Repeat password"
      placeholder="Repeat password"
      type="password"
      [formField]="changePasswordForm.retypePassword"
    />
  </div>
  <div class="w-80 my-4">
    <app-button
      text="Reset"
      (buttonClick)="onSubmit(); $event.preventDefault()"
      [disabled]="changePasswordForm().invalid()"
      [variant]="changePasswordForm().invalid() ? 'disabled' : 'primary'"
    />
  </div>
</form>
